*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #121212;
}


.navbar{

    position: fixed;
    top: 0;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    background-color: black;
    z-index: 10;
}
.nav-option1{
    display: flex;
    align-items: center;
}

.nav-option1 a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}
.nav-option2 a,i{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}
.nav-option2 {
    display: flex;
    align-items: center;
    margin-right: 4rem ;
}



.netflix_logo a{
    color: #E50914;
    font-size: 1.5rem;
    margin-right: 1rem;
    
}

.op{
    opacity: 0.8;
    margin: 0.8rem;
    font-size: 1rem;
}

.op:hover{
    opacity: 1;
    font-size: 1.25rem;
}

.maincontent{
    height: 100vh;
    
}

.label{
    margin-top: 72px;
    width: 100%;
    height: 100%;
    background-image: url("./requried_Pic/NETFLIX_BACK.png");
    background-size: cover;
    
}

.labelinfo{
    padding: 160px 0 0 40px;
    width: 40%;
}

.labelimg{
    width: 100%;
}

.labelimg img{
    width: 100%;
    filter: drop-shadow(10px 10px 11px black);
}

.labeltext .title img{
    height: 1.75rem;
    width: 1.5rem;
    margin-right: 1rem ;
}

.labeltext .title{
    display: flex;
   
    align-items: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 66px;
    filter: drop-shadow(2px 2px 11px black);
}

.labeltext .info{
    margin-top: 16px;
    color: white;
    font-size: 1.25rem;
    
    filter: drop-shadow(2px 2px 11px black);

}

.btn{
    margin-top: 16px;
}

.btn button{
    margin: 1rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 5px;
    border: none;
}

.btn .play i{
    color: black;
    margin-right: 0.5rem;
    font-size: large;
}
.play{
    color: black;
    font-size: large;
    transition: all 0.3s linear;
}
.play:hover{
    background-color: #9f9999;
}
.moreinfo{
    background-color: rgb(187, 184, 184);
    color: white;
    font-size: large;
}

.moreinfo i{
    margin-right: 0.5rem;
    font-size: large;

}

.card{
    margin-top: 2rem;
    margin-right: 1rem;
    height: 198px;
    width: 340px;
    overflow: hidden;
    transition: all 0.2s ease ;
    border-radius: 15px;
}
.card img{
    
    border-radius: 15px 15px 0 0;
}

.card:hover{

    height: 350px;
    width: 400px;
    background-color: #232323;
    z-index: 5;
}
.card:hover img{
    width: 100%;
}

.card-icons{
    display: flex;
    justify-content: space-between;
}
.op{
    padding: 0.15rem;
    opacity: 0.75;
    font-size: large;
}
.card-duration{
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
}
.categories{
    padding: 2rem;
}
.categories h2{
    margin-top: 2rem;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.cardcontainer{
    display: flex;
}

.footer{
    
    height:211px;
    width:  980px;
    padding: 0 44px 0 300px ;
    margin: 20px 24px 0 24px;
}

.gridtable{
    display: grid;
    width: 980px;
    height: 94px;
    grid-template-columns: auto auto auto auto;
}

.grid-item{
    color: rgb(131, 129, 129);
    font-size: small;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-item:hover{
    opacity: 0.9;
    text-decoration: underline;
}

.footer .social i{
    padding-right: 1rem;
    font-size: large;
    margin-bottom: 1.5rem;
    cursor: pointer;

}

.footer button{
    background-color: inherit;
    padding: 0.25rem;
    border: 1px solid white;
    color: rgb(131, 129, 129);
}
.footer button:hover{
    color: white;
}

.card-duration{
    opacity: 0.8;
}



